name: CI/CD workflow

on: workflow_dispatch

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: mlops/lab11
  S3_BUCKET: mlops-lab11-dw

jobs:
  integration:
    name: checks_and_tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repo
        # This step checks out your repository code so the workflow can access it
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        # TODO: Add command to sync ONLY integration group dependencies
        run: uv sync --group integration
     
      # TODO: Add steps for 'ruff check' and 'pytest'

      - name: run pre-commit
        run: uv run pre-commit run --all-files

      - name: run ruff check
        run: uv run ruff check .

      #Better way to configure aws creds, than explicitly exporting them to env vars
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }} 
          aws-region: ${{ env.AWS_REGION }}

      - name: run pytest
        run: |
          uv run python src/lab11_lib/scripts/download_artifacts.py  
          uv run -m pytest 

      