name: CI/CD workflow

on: workflow_dispatch

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: mlops/lab11
  S3_BUCKET: mlops-lab11-dw

jobs:
  integration:
    name: checks_and_tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repo
        # This step checks out your repository code so the workflow can access it
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install dependencies
        # TODO: Add command to sync ONLY integration group dependencies
        run: uv sync --group integration
     
      # TODO: Add steps for 'ruff check' and 'pytest'

      - name: run pre-commit
        run: uv run pre-commit run --all-files

      - name: run ruff check
        run: uv run ruff check .

      #Better way to configure aws creds, than explicitly exporting them to env vars
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }} 
          aws-region: ${{ env.AWS_REGION }}

      - name: run pytest
        run: |
          uv run python src/lab11_lib/scripts/download_artifacts.py  
          uv run -m pytest 


  deployment:
    name: deployment
    needs: integration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repo
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }} 
          aws-region: ${{ env.AWS_REGION }}

      - name: Install dependencies
        run: uv sync --group deployment

      - name: Download Artifacts
        run: uv run python src/lab11_lib/scripts/download_artifacts.py

      - name: Export models to ONNX
        run: |
            uv run python src/lab11_lib/scripts/export_sentence_transformer_to_onnx.py
            uv run python src/lab11_lib/scripts/export_classifier_to_onnx.py
      
      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          mask-password: 'true'

      - name: Build and Push Docker image
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: mlops/lab11
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $REPOSITORY:$IMAGE_TAG .
          docker tag $REPOSITORY:$IMAGE_TAG $REGISTRY/$REPOSITORY:$IMAGE_TAG
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG

      - name: Delete stack if in rollback state
        run: |
          STATUS=$(aws cloudformation describe-stacks \
            --stack-name sentiment-app-stack \
            --region ${{ env.AWS_REGION }} \
            --query 'Stacks[0].StackStatus' \
            --output text 2>/dev/null || echo "NOT_FOUND")

          echo "Current stack status: $STATUS"

          case "$STATUS" in
            *ROLLBACK* )
              aws cloudformation delete-stack --stack-name sentiment-app-stack --region ${{ env.AWS_REGION }}
              aws cloudformation wait stack-delete-complete --stack-name sentiment-app-stack --region ${{ env.AWS_REGION }}
              ;;
          esac

      - name: Resolve Lambda role ARN from name
        id: lambda_role
        run: |
          ROLE_NAME="LabRole"
          ROLE_ARN=$(aws iam get-role --role-name "$ROLE_NAME" --query 'Role.Arn' --output text)
          echo "Resolved role ARN: $ROLE_ARN"
          echo "role_arn=$ROLE_ARN" >> $GITHUB_OUTPUT
      
      - name: Deploy with AWS SAM
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: ${{ env.ECR_REPOSITORY }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          sam deploy \
            --template-file sam-template.yaml \
            --stack-name sentiment-app-stack \
            --image-repository $REGISTRY/$REPOSITORY \
            --parameter-overrides \
              ImageUri=$REGISTRY/$REPOSITORY:$IMAGE_TAG \
              LambdaExecutionRoleArn=${{ steps.lambda_role.outputs.role_arn }} \
            --capabilities CAPABILITY_IAM \
            --no-confirm-changeset \
            --no-fail-on-empty-changeset \
            --region ${{ env.AWS_REGION }}

